{% extends "base.html" %} {% block content %}
    <h1 class="display-4 text-danger text-center">Flask WTF Forms</h1>

    <form class="p-3 mx-auto form-group" action="/" method="POST">

        <div class="form-group">

            {{ form.csrf_token }}

                <!--String Feild -->
                <div class="form-group">
                    {{form.name.label(class="form-control-label",  for="username")}}
                    {{ form.name(placeholder="Enter name" ,class="form-control", id="username")  }}
                </div>

                <br>

                <!--Radio Feild -->
                <div class="form-group">
                    <div class="radio">
                        {{form.radio.label(class="form-control-label")}}
                        {{ form.radio(class="p-2 form-control ")  }}
                    </div>
                </div>

                <br>
                {{form.recaptcha()}}
                <br>
                <!--Button Feild -->
                <div class="form-group">
                    {{ form.submit(class="btn-sm btn-primary form-control ")  }}
                </div>
        </div>
    </form>
    <div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>
    </div>
        <div>
    <form id="upload-file1" method="post" enctype="multipart/form-data">
        <label for="imageUpload1" class="upload-label1">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload1" accept=".png, .jpg, .jpeg">
    </form>
    <div class="image-sect" style="display:none;">
        <div class="img-intens">
            <div id="imageIntens">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-intens">Image!</button>
        </div>
    </div>

    <div class="loading" style="display:none;"></div>

    <h3 id="resulting">
        <span> </span>
    </h3>
    </div>
{#    <XML ID="PEOPLE" SRC="file.xml"></XML>#}
{#    <TABLE DATASRC="#PEOPLE">#}
{#      <THEAD>#}
{#         <TH>man</TH>#}
{#         <TH>name</TH>#}
{#         <TH>age</TH>#}
{#         <TH>work</TH>#}
{#      </THEAD>#}
{#      <TR ALIGN="center">#}
{#         <TD DATAFLD="MAN">1</TD>#}
{#         <TD DATAFLD="NAME">John</TD>#}
{#         <TD DATAFLD="AGE">30</TD>#}
{#         <TD DATAFLD="WORK">Driver</TD>#}
{#      </TR>#}
{#     <TR ALIGN="center">#}
{#         <TD DATAFLD="MAN">2</TD>#}
{#         <TD DATAFLD="NAME">Lisa</TD>#}
{#         <TD DATAFLD="AGE">20</TD>#}
{#         <TD DATAFLD="WORK">Programmist</TD>#}
{#      </TR>#}
{#    </TABLE>#}
{% endblock %}
